<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1078576149418-3aoh77oimhh1l0ecj22lfo4cnpfn97e4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078576149418-3aoh77oimhh1l0ecj22lfo4cnpfn97e4</string>
	<key>API_KEY</key>
	<string>AIzaSyDHC2b2waTQOpiz8P9ZNSgHQcYBvsHBts0</string>
	<key>GCM_SENDER_ID</key>
	<string>1078576149418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inoue723.warikan.prod</string>
	<key>PROJECT_ID</key>
	<string>gender-equality-4bdf6</string>
	<key>STORAGE_BUCKET</key>
	<string>gender-equality-4bdf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078576149418:ios:8affe6de95f62187aff1d3</string>
	<key>DATABASE_URL</key>
	<string>https://gender-equality-4bdf6.firebaseio.com</string>
</dict>
</plist>